.container {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #1a237e;
  color: white;
}

th, td {
  text-align: left;
  padding: 8px;
}

td {
  font-size: 14px;
}